body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

.cta {
    color:aquamarine;
    font-size: 16pt;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 24px;
    color: grey;
}